* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Monserrat', sans-serif;
	background-color: #1a1a1c;
	color: #fff;
}

.coin-app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 64px;
	color: #fff;
}

.coin-search {
	margin-bottom: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.coin-text {
	margin-bottom: 32px;
	text-align: center;
}

.coin-input,
.number-input,
.currency-options,
.sort-options {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-evenly;
	align-self: flex;
	padding-left: 16px;
	width: 225px;
	height: 50px;
	border-radius: 4px;
	border: none;
	background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4a01ff 100%);
	color: #e2e2e2;
}

.currency-options,
.sort-options,
form.form-options submit[type='submit'] {
	cursor: pointer;
}

.coin-input::placeholder,
.number-input::placeholder,
.currency-options::placeholder,
.sort-options::placeholder {
	color: #e2e2e2;
}

form.form-options submit[type='submit'] {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 8px;
	background: rgb(18, 147, 89);
	background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4a01ff 100%);
	background-size: 200%;
	background-position: 0%;
	transition: 0.4s;
	color: rgb(0, 0, 0);
	font-weight: 700;
	cursor: pointer;
}

form.form-options submit[type='submit']:hover {
	background-position: 65% 30%;
}
